*.class
.classpath

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/build/
/nbproject/private/
#/nbproject/project.xml
#/2022-summer2014-r2oc/build/
/2022-summer2014-r2oc/nbproject/private/
/2022-summer2014-r2oc/nbproject/project.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
